body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0; /* Fondo gris claro */
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

.minimalist-form-container {
  text-align: center;
}

.simple-form {
  background-color: #fff; /* Fondo blanco para el formulario */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333; /* Color de texto oscuro */
}

.form-group {
  margin-bottom: 10px;
}

label {
  color: #333;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

input[type="file"] {
  width: 75%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  color: #333;
}

#file-upload-button{
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  border-radius: 10px;
  width: 200px;
  height: 40px;
  font-weight: bold;
  border: 4px double #ffffff;
  transition: 0.3s;
  background-color: #9ddbbe;
}

#file-upload-button:hover {
  opacity: .5;
}

button {
  background-color: #007BFF;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}
